.aboutMe
{
    height:105vh;
    width: 100%;
    background-size:cover;
    background-image:url('../../../images/AboutMe-Background-v1.2.jpg');
    background-position:50% 50%;
    background-attachment: auto;
}

.presentation {
    font-family: Leelawadee UI;
    display: inline-block;
    margin-top:5%;
    margin-left:8%;
}

.presentation-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(35, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 2vw;
    border-right: 4px solid orange;
    box-sizing: border-box;
    color: aliceblue
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(189, 125, 8); 
    }
}

.left-column{
    float:left;
    width:40%;
    margin-left: 5%;
    margin-top: 10%; 
}
.right-column{
    float:right;
    width:40%;
    margin-right: 5%;
    margin-top: 10%;  
}

.column-text{
    font-size: 1.5vw;
    color: aliceblue;
    font-family: Leelawadee UI;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4.5vw;
  }