<div class= "aboutMe">
        <div class="presentation">
                <div class="presentation-text">Czesc, nazywam sie Maciej Wysowski.</div>
        </div>
        <div>
                <div class ="left-column">
                        <div class = "column-text">
                                <img src="../../assets/icons8-education-100 (1).png" class="center"> <br>
                                Jestem studentem 3-ciego roku Informatyki na Politechnice Slaskiej. Dopiero zaczynam swoja przygode z web-devem. Strona ta jest jednym z 
                                moich poczatkowy projektów, nie liczac tych prowadzonych na zajeciach na uczelni. Cały czas chcialbym kontynuowac swój rozwój oraz zdobywac wiedze 
                                i doswiadcznie w tym zakresie.
                        </div>       
                </div>
                <div class = "right-column">
                                <div class = "column-text">
                                       <img src="../../assets/icons8-programming-100 (1).png" class="center"> <br>
                                               Umiejetnosci oraz technologie w ktorych pracuje:<br>
                                               <li>
                                                        Dobre podstawy programowania: C++,C#.
                                               </li>
                                               <li>
                                                        Podstawy .Net i Entity Framework.
                                               </li>
                                               <li>
                                                        Podstawowa znajomosc SQL 
                                               </li>
                                               <li>
                                                        Podstawy Git, Microsoft SQL Server Management Studio 
                                               </li>
                                               <li>
                                                        Podstawowy HTML, CSS, TS, Angular 
                                               </li>
 
                                        </div>       
                </div>
        </div>
</div>