.timeline
{
    height:105vh;
    width: 100%;
    background-size:cover;
    background-image:url('../../../images/AboutMeBackground.jpg');
    background-position:50% 50%;
    background-attachment: auto;
}

.timeline-settings{
    padding-top: 15%;
}